<div class="container col-md-6">

<div class="list-group">
  <% @groups.each do |group| %>
    <a href="<%= group_path(group) %>" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading"><%= group.name %></h5>
      <p class="list-group-item-text">Last message <%= time_ago_in_words(group.messages.last.created_at) %> ago</p>
    </a>
  <% end %>
  <% if @groups.empty? %>
    <p>
      No groups found!
    </p>
  <% end %>
</div>

</div>
