<h3>
  <%= @group.name %>
  <% if user_signed_in? %>
    <% if @group.has?(current_user) %>
      <%= link_to "Leave group",
        group_leave_path(@group),
        class: "btn btn-sm btn-outline-warning",
        method: :post %>
    <% else %>
      <%= link_to "Join as #{current_user.character.name}",
        group_join_path(@group),
        class: "btn btn-sm btn-primary",
        method: :post %>
    <% end %>
  <% end %>
</h3>

<%= react_component(
  'Group',
  {
    id: @group.id,
    initialCharacters: @group.characters,
    initialMessages: @group.messages.order('created_at').last(60),
    in_group: user_signed_in? && @group.has?(current_user)
  },
  { id: "group-component" }
) %>
