// Custom bootstrap variables must be set or imported before bootstrap itself.
 @import "bootstrap";

// General styles
.text-muted a {
  color: #777;

  &:hover {
    color: #999;
  }
}

// Specific styles

body {
  background: #f7f7f7;

  .navbar a.navbar-brand > img {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: bottom;
    margin-right: .5em;
  }

  #main {
    min-height: 300px;
    border-radius: 1rem;
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
  }

  footer {
    text-align: center;
  }
}
