#group-component, .group-container {
  height: 100%;
}

#group-component > .group-container {
  .character-list {
    > span {
      display: inline-block;
      margin-left: .5rem;
    }
  }

  .messages {
    margin-top: 1rem;
    height: calc(100% - 100px);
    overflow-y: auto;

    .message {
      margin-bottom: .3rem;
    }
  }
}
