#group-container {
  .character-list {
    > span {
      display: inline-block;
      margin-left: .5rem;
    }
  }

  #messages {
    margin-top: 1rem;

    .message {
      margin-bottom: .3rem;
    }
  }
}
