$loading-height: .8em;
$loading-expanded-height: 1.5em;

#group-component, .group-container {
  height: 100%;
}

#group-component > .group-container {
  .character-list {
    > span {
      display: inline-block;
      margin-left: .5rem;
    }
  }

  .messages {
    margin-top: 1rem;
    height: calc(100% - 100px);
    overflow-y: auto;

    .message {
      margin-bottom: .3rem;

      > span.time {
        margin-left: 1em;
        color: #999;
        visibility: hidden;
        display: inline-block;
      }

      &:hover {
        > span.time {
          visibility: visible;
        }
      }
    }
  }

  .loading-container {
    height: $loading-expanded-height;

    .loading {
      width: 100%;
      background-color: $brand-info;
      height: 0;
      animation-name: loading;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }
}

@-webkit-keyframes loading {
  from {
    height: $loading-height;
  }
  50% {
    height: $loading-expanded-height;
  }
  to {
    height: $loading-height;
  }
}
